.footer {
	margin-top: auto;
	position: static;
	bottom: 0;
	left: 0;
	max-width: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	gap: none;
	background-color: var(--bg-color-footer);
}

.footer-image {
	max-height: 7rem;
	margin: auto;
}

.footer-section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto 1fr;
}

.footer-section > *:first-child {
	grid-column: span 2;
}

.footer-section > *:last-child:nth-child(odd) {
	grid-column: span 2;
}

.footer-section a {
	text-decoration: none;
	color: var(--text-color-footer-link);
}

.footer-section a:hover {
	color: var(--text-color-footer-link-hover);
}

.footer-section footer-section-title {
	font-size: 1.125rem;
	font-weight: bold;
}

.footer-section a {
	color: var(--text-color-footer);
}