.imageCarousel {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	overflow: hidden;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}

.imageCarouselImage {
	flex: 1;
	border-radius: 0.25rem;
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 42rem;
}

.imageCarouselActiveImage {
	animation-name: imageCarouselAnm;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	transform: translate(100%, 0);
}

.imageCarouselInactiveImage {
	display: none;
}

@keyframes imageCarouselAnm {
	0% {
		opacity: 0;
		transform: translate(100%, 0);
	}
	10% {
		opacity: 1;
		transform: translate(0);
	}
	90% {
		opacity: 1;
		transform: translate(0);
	}
	100% {
		opacity: 0;
		transform: translate(-100%, 0);
	}
}