.numberInput {
    display: grid;
    grid-gap: 0.5rem;
}

.numberInput > div {
    display: flex;
    flex-direction: row;
}

.numberInput > div > * {
    flex: 1;
    text-align: center;
}

.numberInput input[type="radio"] {
    appearance: none;
    cursor: pointer;
    background-color: rgb(155, 155, 155);
    height: 1em;
    width: 1em;
    margin: auto;
}

.numberInput input:first-child {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.numberInput input:last-child {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.numberInput input:nth-child(even){
    background-color: rgb(175, 175, 175);
}

.numberInput input[type="radio"]:checked {
    background-color: rgb(43, 151, 223);
    z-index: 1;
    border-radius: 2rem;
    outline-style: solid;
    outline-width: 0.2rem;
    outline-color: rgb(220, 220, 220);
    box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.2);
}
