.dropdown[active="true"] {
    box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    transition: ease-in-out;
    transition-duration: 150ms;
}

.dropdown[active="true"] > ul {
    box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.2);
    transition: ease-in-out;
    transition-duration: 150ms;
}

.dropdown[active="false"] {
    box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.0);
    transition: ease-in-out;
    transition-duration: 150ms;
}

.dropdown[active="false"] > ul {
    box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.0);
    transition: ease-in-out;
    transition-duration: 150ms;
}

.dropdown > ul {
    position: absolute;
    margin-top: -0.5rem;
    padding-top: 0.5rem;
    left: 0;
    z-index: 1;
    transition: font-size 1s;
}

.dropdown[active="true"] > ul:before {
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-bottom: 0.25em;
}

.dropdown[active="true"] > ul {
    animation-name: dropdown-container-animation;
    animation-duration: 150ms;
    animation-fill-mode: forwards;
}

.dropdown[active="false"] > ul {
    animation-name: dropdown-up-container-animation;
    animation-duration: 150ms;
    animation-fill-mode: forwards;
}

.dropdown[active="true"] > ul > * {
    animation-name: dropdown-animation;
    animation-duration: 150ms;
    animation-fill-mode: forwards;
}

.dropdown[active="false"] > ul > * {
    animation-name: dropdown-up-animation;
    animation-duration: 150ms;
    animation-fill-mode: forwards;
}

@keyframes dropdown-animation {
    0% {
        font-size: 0%;
    }
    100% {
        font-size: 125%;
    }
}

@keyframes dropdown-up-animation {
    0% {
        font-size: 125%;
    }
    100% {
        font-size: 0%;
    }
}

@keyframes dropdown-container-animation {
    0% {
        display: none;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes dropdown-up-container-animation {
    0% {
        display: block;
        opacity: 1;
    }
    100% {
        display: none;
        opacity: 0;
    }
}
/*
Not all the way, I just said that this was the key, it looks weird now tho
*/
