.dropdown > ul {
    display: none;
    transition: font-size 1s;
}

.dropdownToggle > svg[active="true"] {
    transform: rotate(180deg);
}

.dropdownToggle::hover {
    transform: scale(1.25);
}

.dropdown[active="true"] > ul {
    display: block;
}

.dropdown[active="true"] > ul > * {
    animation-name: dropdown-animation;
    animation-duration: 150ms;
    animation-fill-mode: forwards;
}

@keyframes dropdown-animation {
    0% {
        font-size: 0%;
    }
    100% {
        font-size: 125%;
    }
}