.dropdown[active="true"] {
    transition: 150ms;
    box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.dropdown[active="false"] {
    transition: 150ms;
    box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0);
}

.dropdown > ul {
    position: absolute;
    left: 0;
    z-index: 1;
    transition: font-size 1s;
}

.dropdown[active="true"] > ul:before {
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-bottom: 0.25em;
}

.dropdownToggle > svg[active="true"] {
    transform: rotate(180deg);
}

.dropdownToggle::hover {
    transform: scale(1.25);
}

.dropdown[active="true"] {
    animation-name: dropdown-container-animation;
    animation-duration: 150ms;
    animation-fill-mode: forwards;
}

.dropdown[active="false"] {
    animation-name: dropdown-up-container-animation;
    animation-duration: 150ms;
    animation-fill-mode: forwards;
}

.dropdown[active="true"] > ul > * {
    animation-name: dropdown-animation;
    animation-duration: 150ms;
    animation-fill-mode: forwards;
}

.dropdown[active="false"] > ul > * {
    animation-name: dropdown-up-animation;
    animation-duration: 30ms;
    animation-fill-mode: forwards;
}

@keyframes dropdown-animation {
    0% {
        font-size: 0%;
    }
    100% {
        font-size: 125%;
    }
}

@keyframes dropdown-up-animation {
    0% {
        font-size: 125%;
    }
    100% {
        font-size: 0%;
    }
}

@keyframes dropdown-container-animation {
    0% {
        height: 45px;
    }
    100% {
        height: 145px;
    }
}

@keyframes dropdown-up-container-animation {
    0% {
        height: 145px;
    }
    100% {
        height: 45px
    }
}
