@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Cinzel&family=Raleway&family=Titillium+Web&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

[data-theme="light"] {
	--bg-color-out-minor: rgb(200, 200, 200);
	/* Footer */
	--bg-color-footer: rgb(200, 200, 200);
	--text-color-footer-link: rgb(0, 0, 0);
	--text-color-footer-link-hover: rgb(45, 116, 230);
	/* Nav */
	--bg-color-nav: rgb(200, 200, 200);
	--text-color-nav-link: rgb(0, 0, 0);
	--text-color-nav-link-hover: rgb(45, 116, 230);
	/* Buttons */
	--bg-color-btn-download: rgb(43, 145, 79);
	--bg-color-btn-disabled: rgb(171, 171, 171);
}

[data-theme="dark"] {
	--bg-color-out-minor: rgb(50, 50, 50);
	/* Footer */
	--bg-color-footer: rgb(50, 50, 50);
	--text-color-footer-link: rgb(0, 0, 0);
	--text-color-footer-link-hover: rgb(45, 116, 230);
	/* Nav */
	--bg-color-nav: rgb(50, 50, 50);
	--text-color-nav-link: rgb(0, 0, 0);
	--text-color-nav-link-hover: rgb(45, 116, 230);
	/* Buttons */
	--bg-color-btn-download: rgb(43, 145, 79);
	--bg-color-btn-disabled: rgb(71, 71, 71);
}

html, body {
	margin: 0px;
}

:root {
	transition: 1s;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input:autofill input,
input:focus,
input:hover,
input:active {
    color: black;
    bakground-color: red;
}

.font-title {
	font-family: cinzel;
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}