body {
    overflow: overlay;
}

body::-webkit-scrollbar {
    width: 0.6em;
}
 
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
}
 
body::-webkit-scrollbar-thumb {
    background-color: rgb(127, 127, 127);
    outline: 0px solid slategrey;
    border-radius: 15px;
}